
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  background-Color: '#F3F3F3';
    flex: 1;
}

.board-container {
  margin-left: 5px;
}

.class-container {
  margin-left: 20px;
  background-color: aliceblue;
}

.section-container {
  margin-left: 30px;
  background-color: aqua;
}

.Drag-container {
  display: flex;
}
.progress {
  text-align: center;
  border: 1px solid lightblue;
  width: 30vw;
  height: 80vh;
}

.progress-heading {
  padding: 20px;
  margin-top: 0px;
  background-color: lightcoral;
}
.left-section-container {
  text-align: center;
  border: 1px solid lightblue;
  width: 30vw;
  height: 80vh;
}

.board-container {
  padding: 20px;
  margin-top: 0px;
  background-color: lightcoral;
}